body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
 
  }

  
  /* NAVIGATION */
  .navbar {
    width: 100%;
    margin: 0 auto;

    /* color: black; */

    padding: 20px 0; 
    /* box-shadow: 0px 5px 0px #dedede; */
  }
  
  .navbar-nav  {
    list-style: none;
    text-align: center;
  }
  .topbar{
    width: 100%;
    /* background-color:floralwhite; */
    /* background-color: #3E3232; */
    /* color: rgb(19, 19, 19); */
  }
 
  
  .navbar-nav  .nav-link {
    display: block;
    padding: 5px;
    text-decoration: none;
    color:#bcb1b1;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 5px;
    position: relative;
    transition: all 0.5s;
  }
  
  .navbar-nav  .nav-link:hover {
    color:#fffbfb;
    font-weight: 800;
  }
  
  .navbar-nav  .nav-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    /* background: #393434; */
    /* background-color: azure; */
    height: 1px;
    transition: width 0.5s;
  }
  
  .navbar-nav  .nav-link:hover:after {
    width: 100%;
  }
  
  /* .navbar-nav :hover .dropdown-menu {
    display: block;
  } */
/*   
 */
  
  /* CUSTOM NAVBAR */

  /* stroke */
  nav.stroke .navbar-nav  .nav-link,
  nav.stroke .navbar-nav  .nav-link:after {
    transition: all 0.5s;
  }
  
  nav.stroke .navbar-nav  .nav-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #faf6f6;
    height: 1px;
  }
  
  nav.stroke .navbar-nav  .nav-link:hover:after {
    width: 100%;
  }
  /* .navbar-nav .dropdown-menu {
    display: none;
    position: absolute;
    background-color: azure;
  }  */
.header{
  /* background-color: azure !important; */
  /* padding: 5px; */
  text-align: center;
  border-bottom: 1px solid #ddd;
 
  width: 100%;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #3E3232 !important;
}

.placeholder {
  height: 80px; 

}

.hidden {
  display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.head1{
  background-color: #3E3232 ;
  height: 77px;
}