.image{
 height: 10%;
    width: 100%;
}
.news{
    background-color: aquamarine;
    margin-top: -57%;
    height: 100%;
    color: black;
    font-size:x-large;
    justify-content: center;
    text-align: center;
}
